<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/particles.min.js"></script>
    <script>
      particlesJS.load('particles-js', 'js/particlesjs-config.json')
    </script>
<div class="ui inverted vertical footer segment form-page">
  <div class="ui container" style="text-align:center;">
    
		Created By Watan Sahu 2019
	  
  </div>
</div>
	</body>
</html>